@media (min-width: 0px) {
    .pickup-masonry-brick-done {
       width: 98%;
       margin: 1%;
    }
    .pickup-masonry-brick-not-done {
        width: 48%;
        margin: 1%;
     }
}

@media (min-width: 1400px) {
    .pickup-masonry-brick-done {
        width: 48%;
        margin: 1%;
    }
    .pickup-masonry-brick-not-done {
        width: 23%;
        margin: 1%;
    }
}

.pickup-masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.pickup-masonry-brick .card {
    height: 100%;
}
