.bar-top.row {
    height: auto;

    h3 {
        font-weight: bold;
        text-align: center;
    }
}

.row.menu {
    flex: 0 3 75%;
    overflow-y: auto;
}

.pickup-main-container {
    max-width: 100%; // Remove bootstraps default max width
}
