@media (min-width: 0px) {
    .login-form-row {
        width: 67vw;
    }
}

@media (min-width: 800px) {
    .login-form-row {
        width: 50vw;
    }
}

@media (min-width: 1000px) {
    .login-form-row {
        width: 45vw;
    }
}

@media (min-width: 1200px) {
    .login-form-row {
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    .login-form-row {
        width: 35vw;
    }
}

@media (min-width: 1600px) {
    .login-form-row {
        width: 30vw;
    }
}

@media (min-width: 1800px) {
    .login-form-row {
        width: 25vw;
    }
}

@media (min-width: 2000px) {
    .login-form-row {
        width: 20vw;
    }
}

.login-form-row {
    padding-bottom: 10vh;
}
