.statistics-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .event-selector-row {
        flex: 1 0 auto;
        align-items: center;

        form {
            width: 50%;
        }

        > .col {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .statistics-event-selector {
                margin: 3.5em 0 1.5em;
                width: 100%;
            }

            .statistics-event-submit {
                width: 100%;
            }
        }
    }

    .chart-output-row {
        flex: 4 1 auto;
        align-items: center;
    }
}
