# async functionality
asgiref==3.12.1

# Websockets
channels[daphne]==4.3.2
channels_redis==4.3.0

# Django
Django[argon2]==5.2.16
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.1

# Handy config
python-decouple==3.8
