# async functionality
asgiref==3.5.0

# Websockets
channels==3.0.4
channels_redis==3.3.1

# Django
Django[argon2]==3.2.6
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1

# Handy config
python-decouple==3.4
