.order-column {
    height: 93.5vh;
    overflow-y: auto;

    .card {
        margin-bottom: 1rem;
    }
}

#done-order-column {
    height: 70vh;
    overflow-y: auto;

    .card {
        margin-bottom: 1rem;
    }
}

#order-item-request {
    list-style-type: none;
}
