$order-column-border: 1px solid #c4c4c4;
$stats-y-margin: 0.75rem;

#kitchen-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

#kitchen-top-row {
    flex: 0 0 auto;

    h2 {
        text-align: center;
        margin: 1rem auto;
    }
}

#kitchen-content-row {
    flex: 1 1;
    // Wrapping must be disabled as well as min-height and flex-basis set to 0 to allow
    // the content row to stay within it's parents height (otherwise it will grow beyond it).
    // Explicitly use flex-basis: 0 instead of flex: 1 1 0 as it is not applied properly.
    flex-basis: 0;
    min-height: 0;
    flex-wrap: nowrap;
    margin-bottom: 2vh;

    .order-column {
        overflow-y: auto;

        > div {
            margin-bottom: 1rem;
        }
    }

    > .order-column {
        border-right: $order-column-border;
    }

    #done-and-stats-column {
        display: flex;
        flex-direction: column;
        overflow-y: unset;
    }

    #done-orders-row {
        flex: 2 1 0;
        overflow-y: auto;

        .order-column {
            border-bottom: $order-column-border;
        }
    }

    #stats-row {
        flex: 1 2 0;
        overflow-y: auto;
    }

    #stats-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        h4 {
            margin: $stats-y-margin 0;
        }
    }

    #stats-list {
        display: flex;
        flex-flow: row wrap;
        margin: $stats-y-margin 0;

        .stats-list-item {
            margin-bottom: 0.25rem;
            font-size: 1.25rem;

            @media (min-width: 0px) {
                flex: 0 1 50%;
            }

            @media (min-width: 1600px) {
                flex: 0 1 33.33%;
            }
        }
    }
}
