#top-row {
    height: 6.5vh;
}

#content-row {
    height: 87vh;
}

#content-row .order-column {
    height: 100%;
    overflow-y: auto;

    .card {
        margin-bottom: 1rem;
    }
}

#done-order-column {
    height: 63.5vh;
    overflow-y: auto;

    .card {
        margin-bottom: 1rem;
    }
}

#order-item-request {
    list-style-type: none;
}
