.base-snackbar {
  & .SnackbarItem-action {
    & .MuiButton-root {
      color: inherit;

      & .MuiButton-label {
        font-family: "TexGyreAdventor", sans-serif;
        font-size: 1.2em;
        margin-bottom: 1px;
      }
    }
  }
  & .SnackbarItem-message {
    font-family: "TeXGyreAdventor", sans-serif;
    font-size: 1.4em;
    margin-bottom: 3px;

    .MuiSvgIcon-root {
      margin-top: 2px;
    }
  }
}

.warning-snackbar {
  & .SnackbarItem-action {
    color: black;
  }
  & .SnackbarItem-message {
    color: black;
  }
}
