.membership-row.row {
    flex: 0 1 25%;
    margin-left: 0;
    margin-right: 0;
}

.membership-checker-container {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 2.5vh;
    padding: 2rem 1rem 0.75rem 1rem;

    .MuiTextField-root {
        width: 97.5%;

        * {
            font-family: TexGyreAdventorRegular, sans-serif;
        }
    }
}

#personal-id-submit {
    height: 2.5rem;
    width: 97.5%;
    font-family: TeXGyreAdventorBold, sans-serif;
}
