
$width-breakpoints: (800px 1000px 1200px 1400px 1600px 1800px 2000px);
$base-width: 50vw;

.form-row {
    padding-bottom: 10vh;
    width: 70vw;
}

@for $index from 1 through length($width-breakpoints) {
    @media (min-width: nth($width-breakpoints, $index)) {
        .form-row {
            width: $base-width - 5 * ($index - 1);
        }
    }
}
