.card-status-waiting {
    background-color: var(--order-waiting-color)
}

.card-status-in-progress {
    background-color: var(--order-in-progress-color);
}

.card-status-in-transit {
    background-color: var(--order-in-transit-color);
}

.card-status-done {
    background-color: var(--order-done-color);
}

.order-ticket-text {
    font-size: 1.1rem;
}

.order-ticket-menu-items {
    margin-bottom: 0.5rem;
}
