.pickupText {
    font-size: 4rem;
}

.pickupCard {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 3rem;
}

.pickup-card-status-done {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 5rem;
}

.text-status-done {
    font-size: 5rem;
}
