@font-face {
    font-family: 'TeXGyreAdventorBold';
    /*noinspection CssUnknownTarget*/
    src: url('/assets/fonts/TeXGyreAdventorBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreAdventorBoldItalic';
    /*noinspection CssUnknownTarget*/
    src: url('/assets/fonts/TeXGyreAdventorBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreAdventorItalic';
    /*noinspection CssUnknownTarget*/
    src: url('/assets/fonts/TeXGyreAdventorItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreAdventorRegular';
    /*noinspection CssUnknownTarget*/
    src: url('/assets/fonts/TeXGyreAdventorRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
