.header.navbar {
    /* Prevents Safari from displaying an incorrect header height */
    min-height: 6.5vh;
    max-height: 6.5vh;
    background-color: var(--button-background-color);
    color: var(--light-text-color);

    .navbar-brand {
        padding-left: 1em;

        img {
            height: 2em;
        }
    }

    .nav-item {
        font-size: 2em;
    }

    .navbar-toggler {
        background-color: var(--light-text-color);
    }
}
