@media (min-width: 0px) {
    .masonry-brick {
       width: 98%;
       margin: 1%;
    }
}

@media (min-width: 1400px) {
    .masonry-brick {
        width: 48%;
        margin: 1%;
    }
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.masonry-brick > div {
    height: 100%;
}
