@media (min-width: 576px) {
    .order-cards.card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .order-cards.card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .order-cards.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1200px) {
    .order-cards.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1500px) {
    .order-cards.card-columns {
        column-count: 2;
    }
}
