:root {
    --button-background-color: #004C98;
    --button-text-color: #fff;
    --button-active: #207c98;
    --button-hover: black;

    --menu-card-backgroud-color: #004C98;
    --menu-card-text-color: #fff;
    --menu-card-active: #207c98;
    --menu-card-hover: black;
}

#btn-undo {
    border-color: transparent;
    font-size: 1.25rem;

    svg {
        --undo-icon-size: 1.75rem;
        height: var(--undo-icon-size);
        width: var(--undo-icon-size);
    }
}

.bar-top.row {
    height: 6.5vh;

    h3 {
        font-weight: bold;
    }
}

#bar-checkout-column, #bar-menu-column {
    margin-top: 1vh;
    height: 86vh;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}

#bar-all-orders-column {
    margin-top: 1vh;
    height: 83.5vh;
    overflow-y: auto;
}
