#btn-undo {
    border-color: transparent;
    font-size: 1.25rem;

    svg {
        --undo-icon-size: 1.75rem;
        height: var(--undo-icon-size);
        width: var(--undo-icon-size);
    }
}

.bar-top.row {
    height: 6.5vh;

    h3 {
        font-weight: bold;
        text-align: center;
    }
}

.row.menu {
    flex: 0 3 75%;
    overflow-y: auto;
}

#bar-checkout-column, #bar-menu-column {
    margin-top: 1vh;
    height: 86vh;
    padding-left: 0;
    padding-right: 0;
}

#bar-all-orders-column {
    margin-top: 1vh;
    height: 83.5vh;
    overflow-y: auto;
}

#waiter-menu-column {
    height: 47vh;
    padding-left: 0;
    padding-right: 0;
}

#waiter-all-orders-column {
    margin-top: 1vh;
    height: 30vh;
    overflow-y: auto;
}

.membership-row.row {
    flex: 0 1 25%;
}
