@media (min-width: 576px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1200px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1600px) {
    .menu-items.card-columns {
        column-count: 2;
    }
}

#meal-note-input {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.5rem;
    text-align: center;
}

.menu {
    overflow-y: auto;

    .menu-card {
        background-color: var(--menu-card-backgroud-color);
        color: var(--menu-card-text-color);
        text-align: center;
        font-size: 2rem;
        cursor: pointer;

        &:active {
            background: var(--menu-card-active);
        }

        &:hover {
            background-color: var(--menu-card-hover);
        }
    }
}
