@media (min-width: 576px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 992px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1200px) {
    .menu-items.card-columns {
        column-count: 1;
    }
}

@media (min-width: 1600px) {
    .menu-items.card-columns {
        column-count: 2;
    }
}

#meal-note-input {
    width: 100%;
    padding: 0.25rem;
    font-size: 1.5rem;
    text-align: center;
}

.membership-row.row {
    flex: 0 1 25%;
    margin-left: 0;
    margin-right: 0;
}

.row.menu {
    flex: 0 3 75%;
    overflow-y: auto;

    .menu-card {
        background-color: var(--button-background-color);
        color: var(--light-text-color);
        text-align: center;
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            background-color: var(--button-hover-color);
        }

        &:active {
            background: var(--button-active-color);
        }
    }
}

.membership-checker-container {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 2.5vh;
    padding: 2rem 1rem 0.75rem 1rem;

    .MuiTextField-root {
        width: 97.5%;

        * {
            font-family: TexGyreAdventorRegular, sans-serif;
        }
    }
}

#personal-id-submit {
    height: 2.5rem;
    width: 97.5%;
    font-family: TeXGyreAdventorBold, sans-serif;
}
